#diceList {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    top: 50px;
    margin: auto;
    width: 656px;
    padding: 2px 2px 2px 2px;
    background: white;
}

.diceImg {
    height: 105px;
    width: 105px;
    border-radius: 15px;
}

#selector {
    width: 0;
    height: 0;
    top: 0px;
    position: absolute;
    border-left: 50px solid transparent;
	border-right: 50px solid transparent;
    border-top: 50px solid white;
    display: none;
}

.startBtn {
    position: absolute;
    width: 105px;
    height: 75px;
    top: 250px;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
}

#normBtn {
    left: 50px;
    
}

#loopCheck {
    left: 335px;
}

#loopTag {
    position: absolute;
    left: 349px;
    top: 217px;
    padding-left: 6px;
    padding-right: 6px;
    background: white;
}

#loopCheck input:checked ~ .checkmark {
    background-color: #2196F3;
}

#randposBtn {
    right: 50px;
}
